html,
body,
#__next {
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  background: #ffffff;
  color: #111827;
}
h1,
h3,
h4 {
  margin: 0 0 8px 0;
}
button {
  cursor: pointer;
}
select {
  padding: 4px;
}
